<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='welcome.css') }}"
    />
  </head>
  <body>
    <div class="header_writing"><h1>Welcome to Your To-Do App</h1></div>
    <form method="POST" action="/">
      <input type="text" name="name" required placeholder="Enter your name" />
      <button type="submit" name="action" value="login">Continue</button>
      <button type="submit" name="action" value="create">
        Create New User
      </button>
    </form>

    <div class="flash-messages">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>

    <script>
      // Wait for the DOM to fully load
      document.addEventListener("DOMContentLoaded", () => {
        const flashMessages = document.querySelectorAll(".flash-messages li");
        if (flashMessages.length > 0) {
          setTimeout(() => {
            flashMessages.forEach((li) => {
              // Add fade-out class
              li.classList.add("fade-out");
            });
          }, 4000); // 4000ms = 4s
        }
      });
    </script>
  </body>
</html>
